.job-section-3 {
  width: 76%;
  margin: 20px auto;
  padding: 15px;
  border: 2px solid white;
  border-radius: 10px;
  height: 150px;
  background: white;
}

.job-section-3 > .job-details > p {
  margin-top: 0;
}

.control-dots {
  bottom: -15px !important;
}

.job-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.job-label {
  font-size: large;
  font-weight: 700;
}

.job-value {
  color: blue;
  font-weight: 500;
}

.text-link {
  border: 1px solid black;
  height: 30px;
  background: rgb(9, 219, 9);
  border-radius: 5px;
  padding: 7px 20%;
  color: blue;
  font-weight: 400;
  margin-top: 20px;
  text-decoration: none;
  align-self: center;
}
