.homeContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 10vh auto;
  align-items: center;
}

.homeButtonSection {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;
  align-content: center;
}

.home-btn {
  border: 2px solid white;
  padding: 15px;
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 7px;
  font-weight: 600;
  margin-top: 50px;
}

.text-or {
  margin-top: 65px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  color: azure;
}

.hire-text {
  color: aliceblue;
  text-align: center;
}

.main-content {
  margin-top: 20px;
  color: blue;
  text-decoration: underline;
}
