.navbar {
  display: flex;
  flex-direction: row;
  height: 50px;
  /* align-items: center; */
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  justify-items: center;
  z-index: 90;
}

.logoHead {
  color: whitesmoke;
  width: 10%;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  margin: 6px;
}

.logoAnc {
  margin: 10px 10px;
  width: 10%;
  text-decoration: none;
  height: 50px;
}

.login-logout-btn {
  width: 150px;
  height: 50px;
}
