.add-job-btn {
  width: 80%;
  background-color: rgb(1, 86, 243);
  color: white;
  font-weight: 800;
  /* border-style: outset; */
  position: fixed;
  bottom: 50px;
  left: 10%;
  height: 40px;
  font-size: 20px;
}

.add-job-btn:hover {
  cursor: pointer; 
}